<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2026 Marion Bayé. Tous droits réservés.
  Ce code source et ses ressources graphiques sont la propriété exclusive de Marion Bayé.
  Toute reproduction, modification ou distribution non autorisée est strictement interdite.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permission pour la vibration -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="Thai Keyboard"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="Paramètres Thai Keyboard"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1813285379775825~1502889206" />

        <service
            android:name=".ThaiKeyboardService"
            android:label="Thai Keyboard"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

    </application>
</manifest>